.login {
	border: 1px solid var(--border);
	border-radius: var(--radius-xxl);
	box-shadow: var(--shadow-sm);
	width: 400px;
}

.login-header {
	padding: var(--spacing-lg);
	border-bottom: 1px solid var(--border);
}

.login-header-title {
	padding-bottom: var(--spacing-xxs);
	font-weight: 500;
	color: var(--text-primary);
}

.login-header-description {
	color: var(--text-secondary);
	font-weight: 400;
}

.login-content {
	padding: var(--spacing-lg);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
}

.login-inputs {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
}